.AB_TopBar {
    background-color: #fff;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: block;
}
.AB_TopBar .AB_ContentTopbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}
.AB_TopBar .AB_ContentTopbar .AB_info{
    display: flex;
    align-items: center;
}
.AB_TopBar .AB_ContentTopbar .AB_info .AB_SubContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.AB_TopBar .AB_ContentTopbar .AB_info .AB_SubContainer .AB_iconColor{
    color:#f35525 ;
    font-size: 20px;
    margin-right: 8px;
    
}
.AB_TopBar .AB_ContentTopbar .AB_info .AB_SubContainer  .AB_SubTitle{
    font-size: 14px;
    color: #7a7a7a;
    border-right: 1px solid #eee;
    margin-right: 25px;
    padding-right: 25px;
}
.AB_TopBar .AB_ContentTopbar .AB_SocialLinks{
  display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   
}
.AB_TopBar .AB_ContentTopbar .AB_SocialLinks  .AB_CircleIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cdcdcd;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    position: relative;

}
@media screen and (max-width: 992px){
    .AB_TopBar {
        display: none;
    }

}

