.AB_ItemCard{
    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}
.AB_ItemCard .AB_Property_IMG{
    border-radius: 10px;
    width: 100%;
    overflow: hidden
}
.AB_ItemCard .AB_Space_CARD{
    display: flex;
    justify-content: space-between;
}
.AB_ItemCard  .AB_Space_CARD .AB_categoryCard{
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 25px;

}
.AB_ItemCard  .AB_Space_CARD .AB_priceCard{
    font-size: 20px;
    color: #f35525;
    display: inline-block;
    margin-top: 30px;
    font-weight: 700;
}

.AB_ItemCard .AB_AddressCard{
    font-size: 19px;
    margin: 25px 0px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}
.AB_ItemCard  .AB_AddressCard a {
    color: #1e1e1e;
    text-decoration: none !important;
}

.AB_ItemCard .SpecialFeatures_Card{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.AB_ItemCard .SpecialFeatures_Card .AB_NumberRoom_Card{
   display: flex;
}
.AB_ItemCard .SpecialFeatures_Card .AB_NumberRoom_Card h4 , .AB_SubTitle_font{
    display: inline-block;
    font-size: 15px;
    color: #4a4a4a;
    margin-right: 20px;

}
.AB_ItemCard .SpecialFeatures_Card .AB_NumberRoom_Card span , .AB_Span_font{
    font-weight: 600;
    color: #1e1e1e;
}

.AB_ButtonCardVilla a{
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
    text-decoration: none !important;
}

.AB_ButtonCardVilla a:hover{
  background-color: #f35525;
}
    
@media screen and (max-width: 576px) {
    .AB_ItemCard  .AB_Space_CARD .AB_categoryCard{
        font-size: 18px;
    }
    .AB_ItemCard  .AB_Space_CARD .AB_priceCard{
        font-size: 25px;
    }
    
    .AB_ItemCard .AB_AddressCard{
        font-size: 25px;
    }
    .AB_ItemCard .SpecialFeatures_Card .AB_NumberRoom_Card h4 , .AB_SubTitle_font{
        font-size: 18px;
    }
    
    .AB_ButtonCardVilla a{
        font-size: 18px;
  
    }

}