.AB_ExtraInfoProperty {
    background-color: #fafafa;
    padding: 100px 0px;
    margin-top: 120px;
}

.AB_ExtraInfoProperty .AB_ExtraInfo_PartOne {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title {
    width: 33%;
    height: 220px;
}

.AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    color: #1e1e1e;
}

.AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_FiltersVilla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}



.AB_ExtraInfoProperty .AB_ImgExtraInfo {
    padding: 0px 45px;
    width: 100%;
    overflow: hidden
}

.AB_ExtraInfoProperty .AB_Heading_ExtraInfo {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #1e1e1e
}

.AB_ExtraInfoProperty .AB_Paragraph_ExtraInfo {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.AB_ExtraInfoProperty .AB_Btn_ExtraInfo {
    margin-top: 30px;

}

@media screen and (max-width: 1919px) {
    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title {
        width: 33%;
    }

    .AB_ListOfExtraInfo {
        width: max-content;
    }
}

@media screen and (max-width: 991px) {
    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title {
        width: 100%;
        text-align: center;
        height: max-content;

    }

    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne {
        display: flex;
        flex-direction: column;
    }

    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_FiltersVilla {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .AB_ListOfExtraInfo {
        width: 100%;
        margin-bottom: 50px;
    }

    .AB_ExtraInfoProperty .AB_ImgExtraInfo {
        padding-inline: 0px;
        margin-bottom: 50px;
    }

    .AB_Btn_ExtraInfo {
        position: relative;
        right: 7%;
    }

    .AB_Btn_ExtraInfo .Button_ScheduleVisit a {
        width: 206px;
        height: 50px;
        padding: 0px 30px 0px 0px;
    }

    .AB_Btn_ExtraInfo .Button_ScheduleVisit .AB_square {
        width: 50px;
        height: 50px;
        left: 45px;
    }

    .AB_Btn_ExtraInfo .Button_ScheduleVisit .AB_square .AB_IconCalender {
        left: 18px;
        top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .AB_FiltersVilla {
        width: 50%;
        display: flex;
        align-items: center;
        position: relative;
        right: 5%;
    }

    .AB_FiltersVilla .AB_CategoryButton {
        width: max-content;
    }

    .AB_FiltersVilla .AB_CategoryButton a {
        font-size: 14px;
        height: 44px;
    }

    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title {
        width: 516px;
        height: 112px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 576px) {
    .AB_Btn_ExtraInfo {
        position: relative;
        right: 12%;
    }

    .AB_FiltersVilla .AB_CategoryButton {
        height: 44px;
    }

    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_ExtraInfo_Title {
        height: 150px;
        margin-bottom: 20px;
        width: 366px;

    }

    .AB_FiltersVilla .AB_CategoryButton a {
        font-size: 14px;
        height: 44px;
        width: min-content;
        display: flex;

    }

    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_FiltersVilla {
        position: relative;
        left: 10px;
        width: min-content;
        display: flex;
        justify-content: space-around;
        gap: 8px;
    }
    .AB_ExtraInfoProperty .AB_Heading_ExtraInfo {
        font-size: 25px;
    }
    
    .AB_ExtraInfoProperty .AB_Paragraph_ExtraInfo {
        font-size: 18px;
    }

}

@media screen and (min-width: 390px) and (max-width : 500px) {
    .AB_ExtraInfoProperty .AB_ExtraInfo_PartOne .AB_FiltersVilla {
        position: relative;
        left: 0px;
        width: min-content;
        display: flex;
        gap: 10px;
    }

    .AB_FiltersVilla .AB_CategoryButton a {
        font-size: 14px;
        height: 44px;
        width: min-content;
        display: flex;
    }

}